nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-buttons button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.nav-buttons i {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 20px;
}
.hero img {
    width: 50vw;
    height: 50vh;
}
.hero-text{
    width: 50vw;
}
.hero button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.about img{
    width: 100%;
    height: 150px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.project-list{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.project-item {
    width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* ===========Responsiveness Here=============== */
/* max-width:780px */
@media (max-width:780px){
    nav ul {
        display: none;
    }
    .nav-buttons span {
        display: block;
    }
    .hero{
        flex-direction: column-reverse;
        margin-top: 100px;
        padding: 0px;
    }
    .hero-text{
        padding: 0px;
    }
    .project-list{
        flex-wrap: wrap;
    }
}

@media (max-width:780px) and (max-height: 1224px){
    .hero img {
        width: 100%;
        height: auto;
    }
    .hero-text {
        width: 100%;
        text-align: center;
    }
}